/* Slider Code start here  Frontend page slider*/
.mySwiper_home .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mySwiper_home .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-height: 800px !important;
    /* height: calc((100% - 30px) / 2) !important; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySwiper_home .swiper-slide .swiper-pagination-bullets .swiper-pagination-bullet {

   width: 20px !important;
   height: 20px !important;

  }
  .swiper-pagination {
    position: relative !important;
    margin-top: 20px;

  }
  .swiper-pagination .swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;

  }
  
    
  